*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto; 
}

/* .debug{
  background-color: rgba(0, 0, 255, 0.235);
  border: 1px solid black;
  min-height: 50px;
} */

img{
  width: 100%;
}

header{
  background-image: url(./assets_day1/img/wall.png);
  background-size: auto;
  font-size: 100px;
  font-weight: bolder;
  font-style: normal;
  height: 145px;
  width: 100%;
  text-align: center;
}
  
body{
  background-image: url(./assets_day1/img/cork.png);  
  background-size: contain;
  font-style: italic;
  font-size: 15px;
}

.container{
  padding-top: 45px;
  padding-bottom: 70px;
  max-width: 940px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: -13px;
}
.column{
  margin-top: 25px;
  width: calc(100% / 3);
  flex-direction: column;
}

.card{
  padding: 15px;
  height: 360px;
  width: 295px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 10px  rgb(67, 66, 66);
  transition: transform, rotate  .5s;
}

.pin{
  height: 30px;
  width: 30px;
  left: 130px;
  top: -5px;
}

.overlay{
 background-color: rgba(0, 0, 0, 0.788);
 z-index: 2;
 height: 100vh;
 width: 100%;
}

.selected-block{
  left: calc(50% - (400px/2));
}

.close{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 37px;
  width: 87px;
  margin-bottom: 35px;
  border-radius: 0%;
}
.caption{
  padding-top: 15px;
  text-transform: capitalize;
}

.d-flex{
  display: flex;
  height: 100%
}

.center{
  justify-content: center;
  align-items: center;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.direction-column{
  flex-direction: column;
}

.hide{
  display: none;
}

.fixed{
  position: fixed;
}

.card:hover{
 transform: scale(1.1);
 rotate: 10deg;
 box-shadow: 2px 2px 15px  rgb(67, 66, 66);
 z-index: 1;
}

.img:hover{
  cursor: pointer;
}

.card:hover .pin{
  display: none;
}

.selectedImg{
  height: 400px;
  width: 400px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 992px){
  .column{
    width: calc(100% / 2);
  }
  .container{
    max-width: 615px;
  }
} 

@media screen and (max-width: 768px){
  .column{
    width: 100%;
  }
  .container{
    max-width: 300px; 
  }

  .selectedImg{
    height: 350px;
    width: 350px;
  }

  .selected-block{
    left: calc(50% - (350px/2));
  }

  
}