*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu TAS Beginner", cursive;
  /* font-optical-sizing: auto; */
}

/* .debug{
  background-color: rgba(0, 0, 255, 0.235);
  border: 1px solid black;
  min-height: 50px;
} */

img{
  width: 100%;
}

header{
  background-image: url(./assets_day1/img/wall.png);
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  height: 145px;
}
  
  body{
    background-image: url(./assets_day1/img/cork.png);  
}

.container{
  padding-top: 45px;
  max-width: 960px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.column{
  width: calc(100% / 3);
  padding: 1rem;
}

.card{
  padding: 15px;
  height: 360px;
  background-color: #FFFFFF;
  position: relative;
}

.pin{
  height: 25px;
  width: 25px;
  position: absolute;
  left: 130px;
  top: -5px;


}
.caption{
  padding-top: 15px;
 
}

.d-flex{
  display: flex;
  height: 100%
}

.center{
  justify-content: center;
  align-items: center;
}

